{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
  <!-- Cabeçalho Superior -->
    <header class="navbar">
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/logo-header.png' %}">
            </a>
        </div>

        <div class="separador"></div>

        <nav class="nav-links">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'servicos' %}">Serviços</a>
            <a href="#certificados">Certificados</a>
            <a href="{% url 'unidades' %}">Unidades</a>
            <a href="#quem-somos">Quem Somos</a>
        </nav>
        <div class="contato-telefones">
            <span>(84) 3616-5000</span>
            <span>(84) 3616-5000</span>
        </div>
        <div class="botoes-acao">
            <a href="#resultados" class="btn btn-resultados">Resultados</a>
            <a href="#compre-online" class="btn btn-compre-online">Compre Online</a>
        </div>
    </header>