*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  'Montserrat', sans-serif;
    
}
body{
    background-color: #ffffff;
    
}
.corpo{
    max-width: 1000px;
    margin-inline: auto;
    margin-top: 80px;
    color: #0E204D;
    
    
}
.corpo h1,p{
    text-align: center;
}
.obs{
color: #666;
font-size:x-small;
}
.vc{
    font-size: small;
}
.icon-hospital {
    margin: auto;
    margin-bottom: 1em;
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05); 
    position: relative; 
}



.icon-hospital img {
    max-width: 40%; 
    max-height: 40%; 
    height: auto; 
    display: block; 
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card img{
    width: 100%;
    height: auto;
}
.card-content{
    padding: 16px;
}

.card-content h3{
    font-size:28px;
    margin-bottom: 8px;
    color: #00123f;
}

.card-content p{
    color: #0E204D;
    font-size: 15px;
    line-height: 1.3;
}
