{% extends 'mainpage/base.html' %}
{% load static %}

{% block content %}
<!-- <div class="carousel-container">
    <div class="carousel-slide slide1 active">
        <div class="carousel-text">
            <h2>Coleta domiciliar e empresarial</h2>
            <p>Exames laboratoriais onde você estiver, realizado por profissionais especializados em coletas adultas e
                infantis com toda a qualidade que você já conhece.</p>
            <a href="#" class="btn">Acessar agora</a>
        </div>
    </div>

    <div class="carousel-slide slide2">
        <div class="carousel-text">
            <h2>Baixe o novo app Hemolab</h2>
            <p>Acesso os resultados dos exames, encontre a unidade mais próxima e muito mais.</p>
            <a href="#" class="btn">Acessar agora</a>
        </div>
    </div>

    <button class="nav prev">&#10094;</button>
    <button class="nav next">&#10095;</button>
</div> -->

<!-- <section class="secao-hemolab">
    <div class="container">
        <div class="conteudo-texto">
            <h2>O Hemolab.</h2>
            <p>Sempre pautado em princípios éticos e composto por uma equipe de profissionais capacitados, investe na
                excelência de métodos através da participação de programa de qualidade nacional, de educação continuada
                e do emprego de tecnologia de automação nos seus processos analíticos.</p>
            <p>Estes requisitos, aliado ao espírito de bem servir à nossa clientela, nos confere o lugar de destaque no
                cenário da análise clínica do estado do Rio Grande do Norte.</p>
            <a href="#" class="botao-chamada-acao">Saiba mais</a>
        </div>
        <div class="conteudo-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZALhLc3D-4w?si=SN_3TPCnZpksRctt"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
        </div>
    </div>
</section>

<section class="secao-unidades">
    <div class="container">
        <div class="cabecalho-secao">
            <div class="titulo-wrapper">
                <h2>Nossas unidades</h2>
                <p>Tem sempre um Hemolab perto de você!</p>
                <p class="obs">Obs: Coletas são realizadas até 1 hora antes do fechamento (Exceto Petrópolis).</p>
            </div>
        </div>

        <div class="carrossel-container">
            <button id="seta-anterior" class="seta-nav">&#8249;</button>
            <div class="carrossel-wrapper">
                <div class="carrossel-track" id="carrossel-track">

                    <div class="card-unidade">
                        <img src="" alt="">
                        <div class="card-info">
                            <h3>Hemolab - Petrópolis</h3>
                            <ul>
                                <li>Av. Deodoro da Fonseca, 284 - Petrópolis, Natal - RN</li>
                                <li>(84) 3616-5000</li>
                                <li>Segunda à Sexta das 6:00h ás 17:00 Sábado das 6:30h às 13:00h</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-unidade">
                        <img src="" alt="">
                        <div class="card-info">
                            <h3>Hemolab - Nascimento de Castro</h3>
                            <ul>
                                <li>Av. Nascimento de Castro, 1909 - Lagoa Nova</li>
                                <li>(84) 3616-5000</li>
                                <li>Segunda à Sexta das 6:00h ás 16:00 Sábado das 6:30h às 12:00h</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-unidade">
                        <img src="" alt="">
                        <div class="card-info">
                            <h3>Hemolab - Miguel Castro</h3>
                            <ul>
                                <li>Av. Miguel Castro, 1137 - Lagoa Nova</li>
                                <li>(84) 3616-5000</li>
                                <li>Segunda à Sexta das 6:00h ás 12:00 Sábado das 6:30h às 10:30h</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-unidade">
                        <img src="" alt="">
                        <div class="card-info">
                            <h3>Hemolab - Campim Macio</h3>
                            <ul>
                                <li>Av. Engenheiro Roberto Freire, 915 - Capim Macio, Natal - RN</li>
                                <li>(84) 3616-5000</li>
                                <li>Segunda à Sexta das 6:00h ás 16:00 Sábado das 6:30h às 12:00h</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-unidade">
                        <img src="" alt="">
                        <div class="card-info">
                            <h3>Hemolab - Coophab</h3>
                            <ul>
                                <li>Av. Olavo Lacerda Montenegro, 3345 - Parque das Nações, Paranamirim - RN</li>
                                <li>(84) 3616-5000</li>
                                <li>Segunda à Sexta das 6:00h ás 12:00 Sábado das 6:30h às 10:30h</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-unidade">
                        <img src="" alt="">
                        <div class="card-info">
                            <h3>Hemolab - Cidade da Esperança</h3>
                            <ul>
                                <li>Av. Paraíba, 120 - Cidade da Esperança, Natal - RN</li>
                                <li>(84) 3616-5000</li>
                                <li>Segunda à Sexta das 6:00h ás 12:00 Sábado das 6:30h às 10:30h</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-unidade">
                        <img src="" alt="">
                        <div class="card-info">
                            <h3>Hemolab - Itapetinga</h3>
                            <ul>
                                <li>Avenida Itapetinga, 920 - Potengi</li>
                                <li>(84) 3616-5000</li>
                                <li>Segunda à Sexta das 6:00h ás 12:00 Sábado das 6:30h às 10:30h</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-unidade">
                        <img src="" alt="">
                        <div class="card-info">
                            <h3>Hemolab - Potengi</h3>
                            <ul>
                                <li>Rua Ilhéus, 2706 - Potengi</li>
                                <li>(84) 3616-5000</li>
                                <li>Segunda à Sexta das 6:00h ás 16:00 Sábado das 6:30h às 10:30h</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-unidade">
                        <img src="" alt="">
                        <div class="card-info">
                            <h3>Hemolab - São Gonçalo do Amarante</h3>
                            <ul>
                                <li>Centro Médico Carajás - Av. Bacharel Tomaz Lardim, SN, São Gonçalo do Amarante - RN
                                </li>
                                <li>(84) 3616-5000</li>
                                <li>Segunda à Sexta das 6:00h ás 12:00 Sábado das 6:30h às 10:30h</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-unidade">
                        <img src="" alt="">
                        <div class="card-info">
                            <h3>Hemolab - Praia Shopping</h3>
                            <ul>
                                <li>Av. Engenheiro Roberto Freire, 3132 - Capim Macio</li>
                                <li>(84) 3616-5000</li>
                                <li>Segunda à Sexta das 6:00h ás 12:00 Sábado das 6:30h às 10:30h</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-unidade">
                        <img src="" alt="">
                        <div class="card-info">
                            <h3>Hemolab - Maria Lacerda</h3>
                            <ul>
                                <li>Nordestão - Av. Maria Lacerda Montenegro, 1400 - Nova Parnamirim</li>
                                <li>(84) 3616-5000</li>
                                <li>Segunda à Sexta das 6:00h ás 12:00 Sábado das 6:30h às 12:00h</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-unidade">
                        <img src="" alt="">
                        <div class="card-info">
                            <h3>Hemolab - Parnamirim</h3>
                            <ul>
                                <li>Av. Prof. Clementino Câmara, 227 - Centro Parnamirim - RN</li>
                                <li>(84) 3616-5000</li>
                                <li>Segunda à Sexta das 6:00h ás 16:00 Sábado das 6:30h às 11:30h</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-unidade">
                        <img src="" alt="">
                        <div class="card-info">
                            <h3>Hemolab - Neópolis</h3>
                            <ul>
                                <li>R. Divinópolis, 2976 - Neópolis, Natal - RN</li>
                                <li>(84) 3616-5000</li>
                                <li>Segunda à Sexta das 6:00h ás 16:00 Sábado das 6:30h às 12:00h</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-unidade">
                        <img src="" alt="">
                        <div class="card-info">
                            <h3>Hemolab - Satélite</h3>
                            <ul>
                                <li>Av. dos Xavantes, 1765 - Cidade Satélite, Natal - RN</li>
                                <li>(84) 3616-5000</li>
                                <li>Segunda à Sexta das 6:00h ás 16:00 Sábado das 6:30h às 12:00h</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-unidade">
                        <img src="" alt="">
                        <div class="card-info">
                            <h3>Hemolab - Parnamirim II</h3>
                            <ul>
                                <li>R. Edgar Dantas, 451 - Santos Reis, Parnamirim - RN</li>
                                <li>(84) 3616-5000</li>
                                <li>Segunda à Sexta das 6:00h ás 12:00 Sábado das 6:30h às 10:30h</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <button id="seta-proxima" class="seta-nav">&#8250</button>
        </div>


        <div class="rodape-carrossel">
            <div class="paginacao-dots" id="paginacao-dots"></div>
            <a href="" class="link-todas-unidades"> Ver todas as unidades 3</a>
        </div>
    </div>
</section> -->

<!-- <section class="unidades-section">
    <div class="unidades-header">
        <h2>Nossas unidades</h2>
        <p>Tem sempre um Hemolab perto de você!</p>
        <p class="obs">OBS: Coletas são realizadas até 1 hora antes do fechamento (Exceto Petrópolis).</p>
    </div>

    <div class="carousel-container">
        <div class="carousel-slider">

            <div class="carousel-slide">
                <div class="clinic-card">
                    <img src="imagem-petropolis.jpg" alt="Fachada Hemolab Petrópolis">
                    <div class="card-content">
                        <h3>Hemolab - Petrópolis</h3>
                        <ul>
                            <li>Av. Deodoro da Fonseca, 284 (loja/sala), Petrópolis, Natal - RN</li>
                            <li>(84) 3616-5000</li>
                            <li>Segunda a Sexta: das 6:00h às 17:00h. Sábado: das 6:30h às 13:00h.</li>
                        </ul>
                    </div>
                </div>
                <div class="clinic-card">
                    <img src="imagem-nascimento-castro.jpg" alt="Fachada Hemolab Nascimento de Castro">
                    <div class="card-content">
                        <h3>Hemolab - Nascimento de Castro</h3>
                        <ul>
                            <li>Av. Nascimento de Castro, 1989 - Lagoa Nova</li>
                            <li>(84) 3615-2200</li>
                            <li>Segunda a Sexta: das 6:00h às 16:00h. Sábado: das 6:30h às 12:00h.</li>
                        </ul>
                    </div>
                </div>
                <div class="clinic-card">
                    <img src="imagem-miguel-castro.jpg" alt="Fachada Hemolab Miguel Castro">
                    <div class="card-content">
                        <h3>Hemolab - Miguel Castro</h3>
                        <ul>
                            <li>Av. Miguel Castro, 1137, Lagoa Nova</li>
                            <li>(84) 3616-5000</li>
                            <li>Segunda a Sexta: das 6:00h às 12:00h. Sábado: das 6:30h às 10:30h.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="carousel-slide">
                <div class="clinic-card">
                    <img src="imagem-capim-macio.jpg" alt="Fachada Hemolab Capim Macio">
                    <div class="card-content">
                        <h3>Hemolab - Capim Macio</h3>
                        <ul>
                            <li>Av. Engenheiro Roberto Freire, 415 - Capim Macio, Natal - RN</li>
                            <li>(84) 3616-5000</li>
                            <li>Segunda a Sexta: das 6:00h às 16:00h. Sábado: das 6:30h às 12:00h.</li>
                        </ul>
                    </div>
                </div>
                <div class="clinic-card">
                    <img src="imagem-coophab.jpg" alt="Fachada Hemolab Coophab">
                    <div class="card-content">
                        <h3>Hemolab - Coophab</h3>
                        <ul>
                            <li>Av. Olavo Lacerda Montenegro, 3345, Parque das Nações, Parnamirim - RN</li>
                            <li>(84) 3616-5000</li>
                            <li>Segunda a Sexta: das 6:00h às 12:00h. Sábado: das 6:30h às 10:30h.</li>
                        </ul>
                    </div>
                </div>
                <div class="clinic-card">
                    <img src="imagem-cidade-esperanca.jpg" alt="Fachada Hemolab Cidade da Esperança">
                    <div class="card-content">
                        <h3>Hemolab - Cidade da Esperança</h3>
                        <ul>
                            <li>Av. Paraíba, 128 - Cidade da Esperança, Natal - RN</li>
                            <li>(84) 3616-5000</li>
                            <li>Segunda a Sexta: das 6:00h às 17:00h. Sábado: das 6:30h às 10:30h.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="carousel-slide">
                <div class="clinic-card">
                    <img src="imagem-itapetinga.jpg" alt="Fachada Hemolab Itapetinga">
                    <div class="card-content">
                        <h3>Hemolab - Itapetinga</h3>
                        <ul>
                            <li>Avenida Itapetinga, 832 - Potengi</li>
                            <li>(84) 3616-5000</li>
                            <li>Segunda a Sexta: das 6:00h às 17:00h. Sábado: das 6:30h às 10:30h.</li>
                        </ul>
                    </div>
                </div>
                <div class="clinic-card">
                    <img src="imagem-potengi.jpg" alt="Fachada Hemolab Potengi">
                    <div class="card-content">
                        <h3>Hemolab - Potengi</h3>
                        <ul>
                            <li>Rua Itajubá, 2705 - Potengi</li>
                            <li>(84) 3616-5000</li>
                            <li>Segunda a Sexta: das 6:00h às 16:00h. Sábado: das 6:30h às 11:00h.</li>
                        </ul>
                    </div>
                </div>
                <div class="clinic-card">
                    <img src="imagem-sao-goncalo.jpg" alt="Fachada Hemolab São Gonçalo do Amarante">
                    <div class="card-content">
                        <h3>Hemolab - São Gonçalo do Amarante</h3>
                        <ul>
                            <li>Centro Médico e Cirúrgico Dr. Ruy Dantas, Av. Tomaz Landim, S/N, Lj 6, Shopp. do Amarante - RN</li>
                            <li>(84) 3616-5000</li>
                            <li>Segunda a Sexta: das 6:00h às 12:00h. Sábado: das 6:30h às 10:30h.</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            </div>

        <button class="carousel-button prev">&lt;</button>
        <button class="carousel-button next">&gt;</button>
        
        <div class="carousel-dots"></div>
    </div>
</section> -->

<div class="hero-carousel">
    <div class="slide slide1 active">
        <div class="text-content">
            <h2>Coleta domiciliar e empresarial</h2>
            <p>Exames laboratoriais onde você estiver, realizado por profissionais especializados em coletas adultas e infantis com toda a qualidade que você já conhece.</p>
            <a href="#" class="btn-hero">Acessar agora</a>
        </div>
    </div>

    <div class="slide slide2">
        <div class="text-content">
            <h2>Baixe o novo app Hemolab</h2>
            <p>Acesso os resultados dos exames, encontre a unidade mais próxima e muito mais.</p>
            <a href="#" class="btn-hero">Acessar agora</a>
        </div>
    </div>

    <button class="nav-arrow prev">&lt;</button>
    <button class="nav-arrow next">&gt;</button>
</div>

<section class="secao-sobre-nos">
    <div class="container">
        <div class="conteudo-texto">
            <h2>O Hemolab.</h2>
            <p>Sempre pautado em princípios éticos e composto por uma equipe de profissionais capacitados, investe na excelência de métodos através da participação de programa de qualidade nacional, de educação continuada e do emprego de tecnologia de automação nos seus processos analíticos.</p>
            <p>Estes requisitos, aliado ao espírito de bem servir à nossa clientela, nos confere o lugar de destaque no cenário da análise clínica do estado do Rio Grande do Norte.</p>
            <a href="#" class="botao-chamada-acao">Saiba mais</a>
        </div>
        <div class="conteudo-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZALhLc3D-4w?si=SN_3TPCnZpksRctt"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
        </div>
    </div>
</section>

<section class="unidades-section">
    <div class="unidades-header">
        <h2>Nossas unidades</h2>
        <p>Tem sempre um Hemolab perto de você!</p>
        <p class="obs">OBS: Coletas são realizadas até 1 hora antes do fechamento (Exceto Petrópolis).</p>
    </div>

    <div class="carousel-container">
        <div class="carousel-slider">

            <div class="carousel-slide">
                <div class="clinic-card">
                    <img src="{% static 'images/Petropolis.png' %}" alt="Fachada Hemolab Petrópolis">
                    <div class="card-content">
                        <h3>Hemolab - Petrópolis</h3>
                        <ul>
                            <li>Av. Deodoro da Fonseca, 284 (loja/sala), Petrópolis, Natal - RN</li>
                            <li>(84) 3616-5000</li>
                            <li>Segunda a Sexta: das 6:00h às 17:00h. Sábado: das 6:30h às 13:00h.</li>
                        </ul>
                    </div>
                </div>
                <div class="clinic-card">
                    <img src="{% static 'images/nascimento-de-castro.png' %}" alt="Fachada Hemolab Nascimento de Castro">
                    <div class="card-content">
                        <h3>Hemolab - Nascimento de Castro</h3>
                        <ul>
                            <li>Av. Nascimento de Castro, 1989 - Lagoa Nova</li>
                            <li>(84) 3615-2200</li>
                            <li>Segunda a Sexta: das 6:00h às 16:00h. Sábado: das 6:30h às 12:00h.</li>
                        </ul>
                    </div>
                </div>
                <div class="clinic-card">
                    <img src="{% static 'images/miguel-castro.png' %}" alt="Fachada Hemolab Miguel Castro">
                    <div class="card-content">
                        <h3>Hemolab - Miguel Castro</h3>
                        <ul>
                            <li>Av. Miguel Castro, 1137, Lagoa Nova</li>
                            <li>(84) 3616-5000</li>
                            <li>Segunda a Sexta: das 6:00h às 12:00h. Sábado: das 6:30h às 10:30h.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="carousel-slide">
                <div class="clinic-card">
                    <img src="{% static 'images/roberto-freire-vacinas.png' %}" alt="Fachada Hemolab Capim Macio">
                    <div class="card-content">
                        <h3>Hemolab - Capim Macio</h3>
                        <ul>
                            <li>Av. Engenheiro Roberto Freire, 415 - Capim Macio, Natal - RN</li>
                            <li>(84) 3616-5000</li>
                            <li>Segunda a Sexta: das 6:00h às 16:00h. Sábado: das 6:30h às 12:00h.</li>
                        </ul>
                    </div>
                </div>
                <div class="clinic-card">
                    <img src="{% static 'images/coophab.png' %}" alt="Fachada Hemolab Coophab">
                    <div class="card-content">
                        <h3>Hemolab - Coophab</h3>
                        <ul>
                            <li>Av. Olavo Lacerda Montenegro, 3345, Parque das Nações, Parnamirim - RN</li>
                            <li>(84) 3616-5000</li>
                            <li>Segunda a Sexta: das 6:00h às 12:00h. Sábado: das 6:30h às 10:30h.</li>
                        </ul>
                    </div>
                </div>
                <div class="clinic-card">
                    <img src="{% static 'images/esperanca.png' %}" alt="Fachada Hemolab Cidade da Esperança">
                    <div class="card-content">
                        <h3>Hemolab - Cidade da Esperança</h3>
                        <ul>
                            <li>Av. Paraíba, 128 - Cidade da Esperança, Natal - RN</li>
                            <li>(84) 3616-5000</li>
                            <li>Segunda a Sexta: das 6:00h às 17:00h. Sábado: das 6:30h às 10:30h.</li>
                        </ul>
                    </div>
                </div>
            </div>

            </div>

        <button class="carousel-button prev">&lt;</button>
        <button class="carousel-button next">&gt;</button>
        
        <div class="carousel-dots"></div>
    </div>
</section>

<script src="{% static 'js/index.js' %}"></script>

{% endblock %}