{% load static %}
{% include 'partials/header.html' %}
<link rel="stylesheet" href="{% static 'css/servicos.css' %}">
<style>

</style>

<body>
    <main>
        <section class="background-text">
            <div class="text-block">
                <div class="icon-title">
                    <div class="icon-title-serv">
                        <img src="/static/images/microscopio.png" alt="">
                    </div>
                </div>
                <h1 class="title-servicos">Serviços</h1>
                <p class="desc-servicos"> O Hemolab, dispõe de serviços de diagnose nas mais diversas áreas como
                    biologia molecular,
                    hematologia, imuno-hematologia, citometria de fluxo, bioquímica, imunologia, hormônios, urinálises,
                    parasitologia, microbiologia, micologia, análises clinicas com recursos e equipamentos de ponta.
                </p>
            </div>
            <div class="info-exames">
                <div class="title-exames">
                    <p>Confiabilidade e experiência</p>
                    <h1>Confira os principais exames que ofertamos </h1>
                </div>

                <div class="card-section">
                    <div class="cards-servicos">
                        <i><img src="/static/images/coracao.png" alt=""></i>                        
                        <div class="card-infos">
                            <h4>Vacinas</h4>
                            <p>O hemolab Vacinas é localizado na nossa Unidade Capim Macio, dispõe de vacinas para todas
                                as fases da vida, do infantil a melhor idade. </p>
                            <li>(84) 99211-3793</li>
                        </div>
                    </div>
                    <div class="cards-servicos">
                        <i><img src="/static/images/coracao.png" alt=""></i>                        
                        <div class="card-infos">
                            <h4>Vacinas</h4>
                            <p>O hemolab Vacinas é localizado na nossa Unidade Capim Macio, dispõe de vacinas para todas
                                as fases da vida, do infantil a melhor idade. </p>
                            <li>(84) 99211-3793</li>
                        </div>
                    </div>
                    <div class="cards-servicos">
                        <i><img src="/static/images/coracao.png" alt=""></i>                        
                        <div class="card-infos">
                            <h4>Vacinas</h4>
                            <p>O hemolab Vacinas é localizado na nossa Unidade Capim Macio, dispõe de vacinas para todas
                                as fases da vida, do infantil a melhor idade. </p>
                            <li>(84) 99211-3793</li>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

{% include 'partials/footer.html' %}