{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='../../static/css/unidades.css'>
    <title>Unidades Hemolab</title>
    <style>
    </style>
</head>
{% include 'partials/header.html' %}

<body>
    {% block content %}
    <div class="corpo">
        <div class="icon-hospital">
            <img src="../../static/images/unidades.png" alt="">
        </div>

        <h1>Unidades</h1> <br>
        <p>Tem sempre um Hemolab perto de você! O Hemolab
            conta com unidades completas,<br> com o melhor atendimento,
            espalhadas por toda Natal e Grande Natal.
        </p> <br> <br>
        <div class="obs">
            <p>OBS: Coletas são realizadas até 1 hora antes do fechamento
                (Exceto Petrópolis).
            </p> <br> <br> <br>
        </div>
        <div></div>
        <p>Sempre próximos de você</p> <br>
        <h1>Encontre a unidade Hemolab mais próxima</h1>

    </div>
    <div class="card-container">
        <div class="card">
            <img src="../../static/images/Petropolis.png" alt="">
            <div class="card-content">
                <h3>Hemolab - Petrópolis</h3>
                <ul>
                    <li>Av. Deodoro da Fonseca, 284 - Petrópolis, Natal - RN</li>
                    <li>(84) 3616-5000</li>
                    <li>Segunda à Sexta das 6:00h às 17:00h Sábado das 6:30h às 13:00h</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <img src="../../static/images/nascimento-de-castro.png" alt="">
            <div class="card-content">
                <h3>Hemolab - Nascimento de Castro</h3>
                <ul>
                    <li>Av. Deodoro da Fonseca, 284 - Petrópolis, Natal - RN</li>
                    <li>(84) 3616-5000</li>
                    <li>Segunda à Sexta das 6:00h às 17:00h Sábado das 6:30h às 13:00h</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <img src="../../static/images/miguelcastro.png" alt="">
            <div class="card-content">
                <h3>Hemolab -Miguel Castro</h3>
                <ul>
                    <li>Av. Deodoro da Fonseca, 284 - Petrópolis, Natal - RN</li>
                    <li>(84) 3616-5000</li>
                    <li>Segunda à Sexta das 6:00h às 17:00h Sábado das 6:30h às 13:00h</li>
                </ul>
            </div>
        </div>


    </div>
    {% endblock %}

    {% include 'partials/footer.html' %}
</body>

</html>